* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nav-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  /* justify-content: flex-end; */
}

ul,
li,
li a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 14px;
}

li {
  padding: 6px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-bar {
  display: flex;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 584px;
  width: 638px;
}

.button {
  font-size: 14px;
  border: none;
}
