* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  position: relative;
  margin-bottom: 15px;
}

.nav-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

ul,
li,
li a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.hero-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-language {
  text-align: center;
  line-height: 28px;
  font-size: small;
  margin-bottom: 28px;
}

li {
  padding: 6px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 584px;
  width: 638px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10%;
}

.input-bar {
  border: none;
  outline: none;
  width: 80%;
}

.icon-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.button {
  font-size: 14px;
  border: none;
  margin-right: 15px;
  padding: 10px;
  background-color: #f2f2f2;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
}

.footer-country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #1f1f1f;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 20px;
}

.image-logo {
  color: #4285f4;
  font: 16px / 16px Arial, sans-serif;
  position: absolute;
  left: 215px;
  bottom: 0;
  white-space: nowrap;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.banner {
  height: 25px;
}

.title-container {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

.underline {
  border-bottom: 1px solid #ebebeb;
}

.form-section {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}

.form-heading {
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  min-width: 167px;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
}

.form-element-container {
  width: 100%;
  clear: both;
}

.form-label {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}

.right-label {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.form-input-section {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}

.input-field {
  padding-right: 16px;
}

.input-bar {
  width: 100%;
  text-align: left;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.left-message-container {
  float: left;
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}

.left-message {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.span-text {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.range-field {
  display: table;
  padding-right: 16px;
  width: 50%;
}

.connecting-text {
  display: table-cell;
  width: 40px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
  font-size: 13px;
  color: #202124;
}

.end-line {
  border-bottom: 1px solid #ebebeb;
}
